<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      html{font-family:sans-serif;font-size:16px;color:#FFF;background:#333}
      body{margin:0}
      .extranet-logo{width:128px;height:128px;fill:#fff;margin:64px auto 0 auto;display: block}
      .container{margin:0 auto;max-width:512px;background:rgba(255,255,255,.1);padding:32px;margin-top:64px}
      h1{text-align:center;margin-top:0;font-weight:normal}
    </style>
  </head>
  <body id="login">
    <svg viewBox="0 0 781 781" xmlns="http://www.w3.org/2000/svg" class="extranet-logo"><polygon points="388 284 562 0 1 0 0 781 63 780 305 396 128 113 290 113"/><polygon points="720 0 472 396 653 676 495 676 394 496 226 780 781 780 781 0"/></svg>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
